@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

$tile-color: #212121;
$tile-color-green: #2CFF05;
$transition-duration: 0.65s;
$transition-timing: cubic-bezier(0.77, 0, 0.175, 1);

@mixin smooth-transition {
  transition-duration: $transition-duration;
  transition-timing-function: $transition-timing;
}

.outerDiv {
  width: 92%;
  border-radius: 1rem;
  overflow-y: auto;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outerclippedrec {
  width: 80%;
  height: 72px;
  clip-path: polygon(0 0, 98% 0, 100% 50%, 100% 100%, 2% 100%, 0 60%);
  display: flex;
  align-items: center;
  justify-content: center;
  background: $tile-color-green;
  margin: 15px auto;
  @include smooth-transition;
  transition-property: background;

  &:hover {
    background: $tile-color;
  }

  .clippedRectangle {
    width: 99.875%;
    height: 70px;
    clip-path: polygon(0 0, 98% 0, 100% 50%, 100% 100%, 2% 100%, 0 60%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Audiowide", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    line-height: 3vw;
    background: $tile-color;
    position: relative;
    color: $tile-color-green;
    overflow: hidden;
    z-index: 1;
    padding: 28px;
    @include smooth-transition;
    transition-property: color;

    &.secondItem {
      background: none;
        &:before,
        &:after {
          background-color: silver;
        }
    }

    &.thirdItem {
      background: none;
        &:before,
        &:after {
          background-color: #CD7F32;
        }
    }

    .namerank {
      width: 30%;
      display: flex;
      align-items: center;
      z-index: 10;
    }

    .scorebox {
      width: 7%;
      height: 50px;
      clip-path: polygon(0 0, 80% 0, 100% 50%, 100% 100%, 20% 100%, 0 60%);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Audiowide", sans-serif;
      font-weight: 500;
      font-size: 1rem;
      line-height: 3vw;
      background: $tile-color-green;
      position: relative;
      color: $tile-color;
      overflow: hidden;
      @include smooth-transition;
      transition-property: background, color;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $tile-color-green;
      @include smooth-transition;
      transition-property: transform;
      z-index: -1;
    }

    &:before {
      transform: translateY(-100%);
    }

    &:after {
      transform: translateY(100%);
    }

    &:hover {
      color: $tile-color;

      &:before,
      &:after {
        transform: translateY(0);
      }

      .scorebox {
        background: $tile-color;
        color: $tile-color-green;
      }
    }
  }
}

@media (max-width: 480px) {
  .outerDiv {
    width: 95%;
    height: 100%;
  }

  .outerclippedrec {
    width: 90%;
    height: 60px;
    clip-path: polygon(0 0, 95% 0, 100% 45%, 100% 100%, 5% 100%, 0 69%);

    .clippedRectangle {
      font-size: 0.875rem;
      padding: 20px;
      height: 98%;
      width: calc(100% - 3px); // 2px smaller for the gap
      clip-path: polygon(0 0, 95% 0, 100% 45%, 100% 100%, 5% 100%, 0 69%);
    }

    .clippedRectangle .namerank {
      width: 35%;
    }

    .clippedRectangle .scorebox {
      width: 18%; // Increased width
      height: 40px;
      clip-path: polygon(0 0, 85% 0, 100% 35%, 100% 100%, 25% 100%, 0 75%);
      font-size: 1rem;
      line-height: 3vw;
    }
  }
}

@media (max-width: 380px) {
  .outerDiv {
    width: 100%;
  }

  .outerclippedrec {
    width: 95%;
    height: 50px;

    .clippedRectangle {
      font-size: 0.75rem;
      padding: 15px;
      height: 48px;
      width: calc(100% - 2px); // 2px smaller for the gap
    }

    .clippedRectangle .namerank {
      width: 40%;
    }

    .clippedRectangle .scorebox {
      width: 20%; // Increased width
      height: 45px;
      font-size: 0.75rem;
    }
  }
}
